*{
    margin: 0%;
    border: 0%;
    padding: 0%;
    font-family: Arial;
}

#logotipo-topo{
    background-color:#ADD8E6;
    text-align: center;
    margin: 0%;
}

p{
    padding: 10px;
    text-align: justify;
}

h1{
text-align: center;
color:#000080;
}
h3{
    padding: 10px;
    color: #000080;
}

footer{
    background-color:#ADD8E6;
    text-align: center;    
}

img{
    width:50%;
    height: 50%;
}

.contato{
    size: 0.85em;
}

.cliente{
    text-align: center;
    color: #000080	;
}